* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1188px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.header {
    background: #000;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__logo {
    text-decoration: none;
    color: #FFF;
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__item {
    margin-left: 80px;
}

.header__link {
    text-decoration: none;
    color: #FFF;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
}

.header__link:hover {
    color: rgb(255, 85, 0);
}

.header__content {
    background-image: url(./bg.png);
    height: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.header__title {
    color: #000;
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
}

.header__button {
    color: #000;
    font-family: Arial;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 24px;
}

.header__button:hover {
    color: white;
    background-color: #000;
}

.about {
    background: #0E1C25;
    padding-top: 30px;
    padding-bottom: 112px;
}

.about__title {
    text-align: center;
    color: #FFF;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__left {
    width: 500px;
    height: 600px;
}

.about__right {
    width: 466px;
}

.about__name {
    color: #FFF;
    font-family: Arial;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 64px;
}

.about__text {
    height: 400px;
    color: #FFF;
    text-align: justify;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section work */

.work {
    background-color: #5C6B81;
    padding-top: 30px;
    padding-bottom: 70px;
}

.work__title {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 62px;
}

.work__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.work__box {
    padding: 15px 15px 27px;
    border-radius: 10px;
    background: #B12B06;
    width: 312px;
    text-align: center;
}

.work__image {
    width: 100%;
}

.work__name {
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 21px;
    text-align: center;
}

.work__text {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}

.work__button {
    padding: 8px 25px 9px 24px;
    border: none;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* footer */

.footer {
    padding-top: 47px;
    padding-bottom: 62px;
    background: #000;
}

.footer__title {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
}
.footer__contact{
    display: flex;
    justify-content: space-around;
}